@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Bold.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff"), url("../fonts/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont-SemiBold.woff2") format("woff2"), url("../fonts/Mont-SemiBold.woff") format("woff"), url("../fonts/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../fonts/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff"), url("../fonts/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-black: #1B1B1B;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--main-black);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Manrope", sans-serif;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  font-family: "Manrope", sans-serif;
  color: var(--main-black);
  font-style: normal;
}

.header {
  height: 76.75px;
}
.header__inner {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "";
}
.header__logo {
  margin-right: 350px;
}
.header__list {
  display: flex;
  gap: 45px;
  margin: auto;
}
.ringblock__img {
  height: 450px;
  margin-bottom: 100px;
}

.picblock__rectangle {
  height: 105px;
  width: 565px;
  background-color: #1B1B1B;
  border-radius: 20px;
  display: flex;
}
.picblock__treaty {
  display: flex;
  justify-self: center;
}
.picblock__part {
  height: 65px;
  width: 65px;
}
.picblock__name {
  color: white;
}
.picblock__role {
  color: white;
}
.picblock__img {
  height: 65px;
  width: 65px;
  background-color: #fff;
  border-radius: 50px;
}
.picblock__list {
  display: flex;
  justify-content: space-between;
}
.picblock__item img {
  height: 208px;
  width: 280px;
  border-radius: 20px;
}
.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}