.header {
	height: 76.75px;
  &__inner {
		height: 100%;
    display: flex;
		align-items: center;
    font-family: '';
  }

  &__logo {
    margin-right: 350px;
  }

  &__list {
    display: flex;
    gap: 45px;

    margin: auto;
  }

  &__item {}

  &__link {}
}