.header {
	position: fixed;
	left: 0;
	top: 0;
	height: 76.75px;
	width: 100%;
	z-index: 3;
	background: #ffffff;
	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
	}

	&__toggle {
		display: none;
		font-family: $fontfamilyMont;
		font-weight: 700;
		font-size: 21px;
		line-height: 24px;
		text-align: center;
		color: #1b1b1b;
		padding-right: 26px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 16px;
			height: 16px;
			background: url("../img/icons/header_CaretDown.svg") center / cover no-repeat;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 45px;
		.header-email {
			display: none;
		}
	}

	&__item {
	}

	&__link {
		font-family: $fontfamilyMont;
		font-weight: 700;
		font-size: 21px;
		line-height: 24px;
		text-align: center;
		color: #1b1b1b;
		&:hover {
			text-decoration: underline;
		}
		&_active {
			font-weight: 800;
		}
	}

	&-email {
		display: flex;
		align-items: center;
		gap: 10px;
		&_img {
		}

		&__title {
			font-family: $fontfamilyMont;
			font-weight: 700;
			font-size: 21px;
			line-height: 24px;
			text-align: center;
			color: #1b1b1b;
		}
	}

	@media (max-width: 980px) {
		&-email {
			display: none;
		}
		&__inner {
			position: relative;
		}
		&__list {
			display: none;
			gap: 20px;
			.header-email {
				margin-top: 20px;
				display: flex;
			}
		}
		&_active {
			.header__toggle {
				&::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
			.header__list {
				top: 76.75px;
				position: absolute;
				flex-direction: column;
				display: flex;
				background: #e5e5e5;
				border-radius: 0px 0px 15px 15px;
				width: 100%;
				left: 0;
				align-items: flex-end;
				padding: 22px 46px;
			}
		}
		&__toggle {
			display: block;
		}
	}
}
