.picblock {
display: none;
  &__inner {
  }

  &__hand {
  }

  &__rectangle {
    height: 105px;
    width: 565px;
    background-color: #1B1B1B;
    border-radius: 20px;
    display: flex;
  }

  &__treaty {
    display: flex;
    justify-self: center;
  }

  &__part {
    height: 65px;
    width: 65px;
    
  }

  &__name {
    color: white;
  }

  &__role {
    color: white;

  }

  &__img  {
    height: 65px;
    width: 65px;
    background-color: #fff;
    border-radius: 50px;
  
  }

  &__path {
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item img{
    height: 208px;
    width: 280px;
    border-radius: 20px;
  }

  &__text {
 
  }
}
